
$vlNone: none;
$vl300: 300px;

#div_editor, #div_pre_visualizacao{
  width: 60%;
  margin: 20px auto;
}

#div_editor{
  height: $vl300;
}

#div_pre_visualizacao{
  height: auto;
}

#editor{
  width: 100%;
  height: 100%;
  border: $vlNone;
  resize: $vlNone;
  outline: $vlNone;
}

.card-title{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

i{
  cursor: pointer;
}

img{
  width: $vl300;
  height: $vl300;
}